/* color pallette used in the app */

:root {
  --primary-background: #fdfdfd;
  --secondary-background: #f5f7fa;
  --primary-text: #1f2937;
  --secondary-text: #4b5563;
  --primary-accent: #3b82f6;
  --secondary-accent: #10b981;
  --warning-accent: #f59e0b;
  --error-accent: #ef4444;
}

.dark {
  --primary-background: #1f2937;
  --secondary-background: #111827;
  --primary-text: #f9fafb;
  --secondary-text: #d1d5db;
  --primary-accent: #60a5fa;
  --secondary-accent: #34d399;
  --warning-accent: #fbbf24;
  --error-accent: #f87171;
}
